{block content}
<div>{$script}</div>
<div onmouseover="{$alert}">najeď na mne myší</div>
<img {$img}>
<img src={$imgOnMouseOver}>
<script src="{$link}"></script>
<IMG SRC={$onError}></img>
{$embed}
{/block}
