<html>
<head>
    <meta charset="utf-8">
    {block scripts}
	<script src="{$basePath}/js/jquery.min.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
    	<script src="{$basePath}/js/main.js"></script>
        <script>
            window.onload = function() { // aktivace placeholderu v IE
                activatePlaceholders();
            }
        </script>
    {/block}
</head>
<body>
    {block content}
    {/block}
</body>
</html>
    